.MuiListItemText-primary {
    text-transform: capitalize;
}

.MuiListItemText-secondary {
    font-size: 1rem!important;
}

.css-cveggr-MuiListItemIcon-root {
    min-width: 0!important;
}

.MuiListItemButton-root {
    padding-left: 0!important;
    padding-right: 0!important;
}
