.MuiListItemText-primary {
    text-transform: capitalize;
}

.MuiListItemText-secondary {
    font-size: 1rem!important;
}

.css-cveggr-MuiListItemIcon-root {
    min-width: 0!important;
}

.MuiListItemButton-root {
    /* padding-left: 3px!important;
    padding-right: 0!important; */
}

.MuiCheckbox-root {
    /* padding: 0px!important;
    margin: 0px!important; */
}